{% extends 'base_det.html' %}
{% block content %}
    <div class="card ">
        <div class="card-body">
                <h1 class="text-center">Detalhes dos Clientes</h1>
                <div class="row">
                    <div class="col-sm-4">
                        <h4>{{ cliente.nome }}</h4>
                        <p><b>CPF: </b>{{ cliente.cpf }}</p>
                        <p><b>Tel.: </b>{{ cliente.telefone }}</p>
                        <p><b>End.: </b>{{ cliente.endereco }}</p>
                        <p><b>Email: </b>{{ cliente.email }}</p>
                        <p><b>Data: </b>{{ cliente.data }}</p>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}