{% extends "base_list.html" %}
{% block title %}Lista{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        {% for c in cliente %}
            <div class="col-sm-4">
                <div class="card mx-3">
                    <div class="card-body p-4">
                        <p><span class="badge badge-secondary">Nome:</span> {{ c.nome }}</p>
                        <a href="/reg/detali/{{ c.id }}/")>
                            <p class="text-center">Detalhes...</p>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
