{% extends "base1.html" %}
{% block title %}Lista{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        {% for p in cliente %}
            <div class="col-sm-6">
              <div class="card mx-3">
                <div class="card-body p-4">
                    <p>Nome: {{ p.nome }}</p>
                    <p>CPF: {{ p.cpf }}</p>
                    <p>Telefone: {{ p.telefone }}</p>
                    <p>Endereço: {{ p.endereco }}</p>
                    <p>Email: {{ p.email }}</p>
                    <p>Data: {{ p.data }}</p>
                </div>
              </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
