{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <form method="POST", action="submit">
    {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card-group">
                    <div class="card p-4">
                        <div class="card-body">
                            <h1>Login</h1>
                            <p class="text-muted">Faça login em sua conta</p>

                            <div class="input-group mb-3">
                                <input class="form-control" type="text" id="username" name="username" placeholder="Username">
                            </div>
                            <div class="input-group mb-4">
                                <input class="form-control" type="password" id="password" name="password" placeholder="Password">
                            </div>

                            <div class="row">
                                {% for message in messages %}
                                <div class="alert alert-danger">
                                    <strong>Error!</strong> {{ message }}
                                </div>
                                {% endfor %}

                                <div class="col-6">
                                    <button class="btn btn-primary px-4" type="submit">Login</button>
                                </div>
                                <div class="col-6 text-right">
                                    <button class="btn btn-link px-0" type="button">Esqueceu a senha?</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
